<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <form action="/api/auth/resetPassword" method="post">
        <input type="hidden" name="userId" value="<%=userID%>">
        <input type="hidden" name="resetString" value="<%=resetString%>">
        <input type="text" name="newPassword" placeholder="Enter new password" required >
        <button type="submit">Yangilash</button>
    </form>
</body>
</html>