<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h1>News Page</h1>
    <div id="parent">
    </div>
   <% data.forEach((elem)=>{%>
       <img src="/img/news/<%= elem.image%>" >
       <h3><%=elem.title%></h3>
       <p><%=elem.desc%></p>
       <p><button class="commentBtn">
    <%})%>
</body>
</html>