*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  outline: none;
  font-family: "poppins";
  scroll-behavior: smooth;
}


#button {
display: inline-block;
background-color:#000;
width: 50px;
height: 50px;
line-height:60px;
text-align: center;
border-radius: 12px;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color .3s, 
opacity .5s, visibility .5s;
opacity: 0;
z-index: 1000;
}

#button i{
font-size:32px;
color:white;
}



#button:hover {
cursor: pointer;
background-color: #333;
}

#button.show {
opacity: 1;
}




/* Preloader css */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin{
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Preloader css */




.container{
  width: 100%;
}
.container header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 90px;
  border-bottom: 1.5px solid white;
  background-color: #16151594;
  transition: .3s ease-in-out;
  z-index: 10000;
} 
.container .sticky{
  padding: 20px 100px;
  background-color: black;
  transition: .3s ease-in-out;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
}
header a{
  font-family: "Poppins";
  font-weight: 600;
  padding: 7px 16px;
  color: white;
  border: 2px solid white;
  transition: .6s ease-in-out;
  overflow: hidden;
}
header a:hover{
  box-shadow: inset 200px 0 0 0 white;
  color: black;
}
.logo{
  color: white;
  font-size: 25px;
}
#clock{
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  width: 140px;
}
header img{
  width: 120px;
}
#bars{
display: none;
}
.main{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-repeat:  no-repeat ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main .mainly-text{
  width: 60%;
  color: #fff;
  padding: 0 80px;
  
}

.main .mainly-text span{
  color: white;
  font-size: 85px;
  font-weight: 700;
}
.main .mainly-text p{
  color: white;
  font-size: 30px;
  font-weight: 200;
  padding-left: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.hBtn{
  margin-left: 20px;
  width: 300px;
  height: 60px;
  border-radius: 3px;
  border: none;
  transition: .5s ease-in-out;
  outline: none;
  background: rgb(255 , 0 , 68);
  
}
.hBtn a{
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: .5s ease-in-out;
}

.hBtn:hover{
  cursor: pointer;
  background: rgb(243, 243, 30);
  
}
.main .namemain3 button:hover a{
  color: black;
}
#loginBtn{
  display: inline-block;
  width: 100px;
  text-align: center;
  transition: .5s;
  border-radius: 15px;
  border: 2px solid rgb(255, 0, 68);
}
#loginBtn:hover{
  background:  rgb(255, 0, 68);
  color: white;
  box-shadow: none;
}
.slider-cont-name1 , .slider-cont-name2{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 15vh;
}
.slider-cont-name1 span,
.slider-cont-name2 span{
  font-size: 35px;
  font-weight: 700;
}
.slider-cont-name1 p,
.slider-cont-name2 p{
  font-size: 18px;
  font-weight: 400;
}


.slider-cont{
  background: url('./../Images/1164874.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(5px);

  width: 100%;
  margin: 0 auto;
  height: 500px;
  
}
.slider-cont .slider{
  
  background: none;
  width: 100%;
  height: 500px;
  padding: 20px 40px;
}
.slider span{
  font-size: 55px;
  font-weight: 600;
  color: white;
}
.slider p{
  width: 60%;
  font-size: 18px;
  color: white;
  padding-left: 20px;
}
.slider button{
  margin-top: 40px;
  margin-left: 20px;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  border: none;
  transition: .3s ease-in-out;
  outline: none;
  background: rgb(255 , 0 , 68);
}
.slider button a{
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: .4s ease-in-out;
}
.slider button:hover{
  cursor: pointer;
  box-shadow: inset 200px 0 0 0 rgb(243, 243, 30);
}
.slider button:hover a{
  color: black;
}
.information{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}
.information .image{
  overflow: hidden;
  width: 30%;
  height: 100%;
}
.information .image img{
  width: 100%;
  height: 100%;
  transition: .4s ease-in-out;
}
.information .image img:hover{
  transform: scale(1.1);
}
.information .image-text-information{
  padding:20px 50px;
  width: 65%;
  height: 100%;
}
.image-text-information span{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}
.image-text-information p{
  width: 90%;
  margin: 15px 0;
  font-weight: 500;
  text-align: justify;
}
.image-text-information button{
  width: 250px;
  height: 50px;
  /* background-color: rgb(255 , 0 , 68); */
  transition: .5s ease-in-out;
  border: 3px solid rgb(255 , 0 , 68);;
  border-radius: 5px;
  background:none;
}
.image-text-information button a{
  color: black;
  transition: .5s ease-in-out;
  font-weight: 600;
  font-size: 18px;
}
.image-text-information button:hover{
  box-shadow: inset 250px 0 0 0 rgb(255 , 0 , 68);
  cursor: pointer;
}
.image-text-information button:hover a{
  color: yellow;
}

.name-menu{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 50px;
  width: 100%;
  height: 50px;
  border: 1px solid red;
  margin: 20px  0;
}
.name-menu span{
  font-size: 25px;
  font-weight: 700;
  color: rgb(255 , 0 , 68);

}
/* .yutuqlar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.yutuqlar img{
  width: 400px;
  height: 400px;
  margin: 30px 0;
  transition: .5s ease-in-out;
}
.yutuqlar div{
  overflow: hidden;
}
.yutuqlar img:hover{
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
} */









.wrapper{
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  /* max-width: 720px; */
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #000;
  background: #fff;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image{
  width: calc(100% / 4);
  padding: 7px;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 600px;
  width: 100%;
  z-index: 5000000;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  font-weight: 500;
  margin-left: 5px;
}
.details .icon{
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}
@media (max-width: 1300px) {
  .preview-box{
    max-width: 500px;
  }
}
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
  
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}













.container1{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content{
  display: flex;
  justify-content: center  ;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
}

.card{
  position: relative;
  background: #fff;
  max-width: 325px;
  width: 325px;
  height: 500px;
  margin: 25px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  border-radius: 10px;
  overflow: hidden;
  transition: .3s all;
  box-sizing: border-box;
}
.card:hover{
  transform: scale(1.02);
  box-shadow: 0 5px 25px rgb(1 1 1 / 50%);
  cursor: pointer;
}
.card-cont{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 30px;
}

.card-image{
  position: relative;
  height: 250px;
}

.card-image img{
  display: block;
  width: 100%;
  height: 250px;
}

.card-info{
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}

.card-info h3{
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
  text-align: center;
}

.card-info p{
  font-size: 1em;
  margin-bottom: 5px;
  text-align: center;
}
.card-info .link-icon{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 60px;
  /* border: 1px solid red; */
  margin: 0 auto;
  top: 185px;
}
.card-info .link-icon .icon-l{
  font-size: 22px;
  padding: 5px;
  color: #0AB1CE;
  opacity: 0.2;
  margin: 0 5px;
  transition: .2s ease-in-out;
}
.card-info .link-icon .icon-all{
  font-size: 18px;
  padding: 5px;
  color: #095f6e;
  margin: 0 5px;
  transition: .2s ease-in-out;
}
.card-info .link-icon .actives{
  opacity: 1;
}
.card-info .link-icon .icon-l a{
  color: #0AB1CE;
  font-size: 18px;
}
.card-info .link-icon .icon-all a{
  color: #095f6e;
  font-size: 16px;
}
.card-info .link-icon .icon-l:hover{
  transform: scale(1.1);
  color: #0c9bb4;
}
.card-info .link-icon .icon-all:hover{
  color: rgb(4, 98, 114);
}
.card-image .img-hover{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity .3s;
}
.img-hover > *{
  transform: translateY(30px); 
  transition: transform .3s ;
}
.img-hover p{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.img-hover span{
  color: #fff;
  font-size: 14px;
}
.img-hover:hover{
  opacity: 1;
}
.img-hover:hover > *{
  transform: translateY(0); 
}
.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page, .next-page{
  background: #0AB1CE;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}



.disable{
  background: #ccc;
}







.map-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-color: #2c2f48;
}
.information-map{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85%;
  border: none;
  border-radius:  5px  0 0 5px;
  background: #363953;
  box-shadow:  0 0 1rem hsla(  0 0 0 /16% );
  padding: 20px 12px;
  overflow: hidden;

}
.information-map .name-info{
  color: white;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  padding-left: 20px;
  z-index: 102;

}
.information-map .info-logo-name{
  display: flex;
  align-items: center;
  padding-left: 40px;
  width: 100%;
  height: 50px;
  /* border: 1px solid #fff; */
  z-index: 102;
}
.information-map .info-user{
  display: flex;
  align-items: center;
  padding-left: 60px;
  width: 100%;
  height: 30px;
  /* border: 1px solid #fff; */
  z-index: 102;
}
.information-map .info-logo-name i{
  color: #e7d3d3;
  font-size: 28px;
  z-index: 102;
}
.information-map .info-logo-name p{
  color: #fff;
  margin:  0 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 102;
}
.information-map .info-user i{
  color: #e7d3d3;
  font-size: 20px;
  z-index: 102;
}
.information-map .info-user p{
  color: #fff;
  margin:  0 10px;
  font-weight: 300;
  letter-spacing: 0.5px;
  z-index: 102;
}
.map{
  width: 65%;
  height: 85%;
  border: none;
  border-radius: 0 5px 5px 0 ;
}
.box-1{
  width: 500px;
  height: 300px;
  border: white;
  background-color: red;
  /* position: absolute;  */
  /* transform: rotate(30deg); */
  z-index: 100;
}







/* footer  */
.footer-container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* footer  */

























/* Slick Slider Default css  */

.slick-next:before, .slick-prev:before{
  display: none;
}
.slick-next , .slick-prev{
  display: none;
  width: 0px;
}
.slick-dots{
  display: none;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
.slick-dots li button:before{
  width: 40px;
  height: 10px;
  margin: 0 20px;
  content: '○';
  border: 5px;
  opacity: 0.5;
  background-color: red;
  border-radius: 20px;
}

/* Slick Slider Default css  */









.menu .xmark{
display: none;
}
header #menu{
transition: .5s ease-in-out;
}
header .active{
right: 0;
transition: .5s ease-in-out;
}


@media(max-width: 1360px){
.container .sticky{
  padding: 0;
}
#bars{
  display: inline;
  cursor: pointer;
  color: white;
  font-size: 32px;
  margin-right: 140px;
}
header ul {
  display: none;
}
header span{
  display: none;
}
header .logo{
  margin-left: 140px;
}
.container header{
  justify-content: space-between;
  background-color: black;
  border: none;
  z-index: 205;
}
}


@media (max-width: 1200px){
.namemain1{
  font-size: 62px;
  width: 150%;
}



}






@media (max-width: 992px){
header .logo{
  margin-left: 80px;
}
header i{
  margin-right: 80px;
}
.mainly-text .namemain1{
  font-size: 40px;
  width: 150%;
}
}










@media (max-width: 768px){

}









@media (max-width: 576px){
#bars{
  margin-right: 40px;
}
header .logo{
  margin-left: 40px;
}
}

.secretNav{
  position: fixed;
  right: 0;
  top: 90px;
  width: 300px;
  padding: 10px 20px;
  background: #fff5;
  z-index: 1;
}

.secretNav li{
  margin: 15px 30px;
  font-size: 22px;
}
.secretNav li a{
  display: block;
  width: 100%;
  padding: 5px;
}

header .active{
  color: #000;
  background: #fff;
}

/* .secretNav .active{
} */